<div id="hero">
  <h1>Bots, Inc.</h1>
  <h2>Trust robots with all your purchasing needs.</h2>
</div>

<div>
  <p>Buy whatever you want</p>
  <p> View My Basket </p>
  <p>Robots package it up and deliver it to your door.</p>
  <p>Simple.</p>
</div>

<%= link_to "Browse our items", items_path %>
